[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask="*"
flask-socketio="*"
Pygments = "*"
"Jinja2" = "*"
Markdown = "*"
watchdog = "*"
colorlog = "*"
arrow = "*"
eventlet = "*"

[dev-packages]
pytest = "*"
twine = "*"

[requires]
python_version = "3.6"
