<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarkOne</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
</head>
<body>
<h2>Info</h2>
<ul>
    <li><b>MD_PATH</b>: {{ md_path }}</li>
    <li><b>OUTPUT_PATH</b>: {{ output_path }}</li>
</ul>
<h2>Project</h2>
<div id="container">
</div>
</body>
</html>